.notes-container {
  text-align: center;
  max-width: 600px;
  margin: 40px auto;
  font-family: sans-serif;
}

h1 {
  color: #333;
}

.input-block {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.input-block input,
.search-block input {
  flex: 1;
  padding: 10px;
  border: 2px solid #ff0000;
  border-radius: 10px;
  font-size: 16px;
}

.input-block button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #00ff2a;
  transition: background 0.3s;
  font-size: 20px;
}

.search-block {
  margin: 20px 0;
  display: flex;
}

.notes-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.note-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.note-content {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.note-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.note-text-content {
  word-break: break-word;
}

.note-text-content h3 {
  margin: 0 0 5px 0;
  color: #333;
}

.note-text-content p {
  margin: 0;
  color: #666;
}

.note-item.completed .note-text-content {
  text-decoration: line-through;
  color: #aaa;
}

.note-item.completed .note-text-content h3,
.note-item.completed .note-text-content p {
  color: #aaa;
}

.delete-btn {
  border: none;
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}